/* :::COLORS:::*/
$grey-box-shadow: rgba(226, 236, 249, 0.5);
$grey-light: #cecece; // for borders & dividers

// TABLETS & LapTops
/* Portrait Tablet */
@media (min-width: 768px) and (orientation: portrait) {
  .body-d-grid {
    grid-template-rows: 8% 82%;
  }
}
////////////
///
/* Portrait & Landscape Laptop*/

/////
@media (max-width: 1280px) {
  html {
    font-size: 56.25%;
  }
  .body-d-grid {
    grid-template-rows: 11% 89%;
  }
  //:::Info Section:::for placing user info badge
  .info-box {
    padding: 0.8rem 0.6rem;
  }
  .img-user {
    width: 4rem;
  }
  .user-greeting {
    font-size: 1rem;
  }
  .user-name {
    font-size: 1.8rem;
  }
  //:::DASHBOARD
  .dashboard-items {
    padding-left: 2.2rem;
    padding-right: 0.5rem;
    gap: 2rem;
  }
  .dashboard-icon {
    width: 1.8vw;
  }
  .svg-chevron-right {
    width: 1.6vw;
    stroke-width: 2.2px;
  }
  //Main
  //Card primary1
  .card-primary-info,
  .card-secondary-info {
    align-items: stretch;
  }
  .card-box-socialMedias {
    padding: 2.4rem 0;
    gap: 1.8rem;
    .socialMedias {
      transition: all 0.3s;
      img {
        width: 3.8rem;
      }
    }
  }
  .card-userImg {
    width: 25%;
  }
  .card-userName {
    font-size: 1.6vw;
  }
  .card-userRole {
    font-size: 1.2vw;
  }
  // .intro-title,
  // .intro,
  // .subtitle-info,
  // .intro-subtitle {
  //   font-size: 1vw;
  // }
  //::Card secondary 2
  //Section expert
  .portfolio-sticker {
    width: 90%;
  }
  .innerBox-userExpertise {
    gap: 0.5rem;
  }
  .box-expert {
    padding: 0.6vw 1vh;
    font-size: 1.1vw;
    gap: 0.4rem;
    img {
      width: 1.2vw;
    }
  }
  .intro-notice-lh {
    line-height: 1;
  }

  .bg-icon {
    img {
      width: 2.5vw;
    }
    .icon-stars {
      width: 5vw;
    }
  }
}
////
@media (max-width: 800px) {
  html {
    font-size: 46.875%;
  }
  ///////
  .portfolio-sticker {
    width: 95%;
  }
  ////////
  .card-userName {
    font-size: 1.6vw;
  }
  .card-userRole {
    font-size: 1.3vw;
  }
  .intro-title,
  .intro,
  .subtitle-info,
  .intro-subtitle {
    font-size: 1.3vw;
  }
}
//////
///
@media (max-width: 690px) {
  html {
    font-size: 46.875%;
  }
  .body-d-grid {
    grid-template-columns: 10% 30% 60%;
  }
  ///////
  .section-dashboard {
    grid-column: 1;
    grid-row: 1;
    border-bottom: $grey-light solid 1px;
  }
  .section-logo {
    grid-column: 2;
    border-bottom: $grey-light solid 1px;
  }
  .section-info {
    grid-column: 3;
    box-shadow: 0px 10px 60px 0px $grey-box-shadow;
  }
  /// ////
  .portfolio-sticker {
    background-color: red;
  }
  .section-dashboard {
    min-height: 0;
  }
  .dashboard-items {
    display: none;
  }
  ///collapse menu
  .dashboard-items--collapsed {
    display: block;
    height: 100%;
  }
  .label-collapsed-dashboard {
    cursor: pointer;
    height: 100%;
  }
  main {
    grid-column: 1 / -1;
  }
}
