* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

i {
  cursor: pointer;
}

html {
  font-size: 62.5%;
  font-family: "Outfit";
  font-weight: 500;
  line-height: 1;
}

/* :::COLORS:::*/
.d-flex {
  display: flex;
  align-items: center;
}

.flex-dir-col {
  flex-direction: column;
}

.d-grid {
  display: grid;
}

body {
  height: 100vh;
}

.body-d-grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
}

.section-logo {
  padding-left: 2.7rem;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  gap: 2rem;
}
.section-logo h1 {
  font-weight: 400;
  font-size: 2.6rem;
}

.section-info {
  flex-direction: row-reverse;
  gap: 0.5vw;
  padding-right: 5rem;
  border-bottom: #cecece solid 1px;
}
.section-info .icon-box {
  width: 4.2rem;
}
.section-info .icon-box svg {
  stroke: #1e2875;
}
.section-info .icon-box .svg-bell {
  width: 64%;
  height: 36%;
}
.section-info .icon-box .svg-chevron-down {
  width: 64%;
  height: 36%;
}

.info-box {
  border: #e8eff7 solid 0.115rem;
  border-radius: 0.921rem;
  width: 26%;
  height: 80%;
  gap: 0.8rem;
  padding: 1.2rem 1rem;
}
.info-box .img-user {
  width: 13%;
  border-radius: 0.8rem;
}
.info-box .par-user {
  color: #373b5c;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
  gap: 0.8rem;
}
.info-box .par-user .user-greeting {
  font-size: 1.2rem;
}
.info-box .par-user .user-name {
  font-size: 2rem;
}
.info-box .chevron-d-box {
  margin-left: auto;
}

.section-dashboard {
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
  min-height: 100vh;
}

.dashboard-items {
  min-height: 100%;
  padding-left: 3.9rem;
  padding-right: 3.6rem;
  padding-top: 6.4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

a {
  justify-content: space-between;
}
a .item-inner-box {
  gap: 2rem;
}

.dashboard-icon {
  width: 1.5vw;
  color: #9197b3;
}

.svg-chevron-right {
  width: 1vw;
  stroke-width: 2px;
}

.dashboard-items-label {
  color: #9197b3;
  font-weight: 500;
  font-size: 1.6rem;
}

main {
  position: relative;
  padding-top: 2.4rem;
  height: 100vh;
}

.portfolio-sticker {
  background-color: #1877f2;
  width: 83%;
  height: 19rem;
  border-radius: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.6rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio-sticker .sticker-text {
  color: #ffffff;
  font-size: 1.2rem;
}
.portfolio-sticker .bg-white-op {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 6px 1.8rem;
  border-radius: 5px;
}

.section-card-portfolio {
  width: 100%;
  height: 100%;
  gap: 1.6rem;
  transform: translate(-50%);
  align-items: stretch;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.card-primary-info,
.card-secondary-info {
  height: 50rem;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 12px 56px 0px rgba(6, 28, 61, 0.12);
  padding: 3.2rem 2.4rem;
}

.card-primary-info {
  width: 40%;
}
.card-primary-info .header-card-primary {
  justify-content: center;
  gap: 2.4rem;
  border-bottom: solid 1px #e6e8ec;
  padding-bottom: 2.4rem;
}
.card-primary-info .header-card-primary p {
  flex-direction: column;
}

.card-userImg {
  width: 30%;
  border-radius: 50%;
}

.card-userName {
  flex-direction: column;
  gap: 8px;
}
.card-userName .card-userName {
  font-size: 2rem;
  font-weight: 500;
}
.card-userName .card-userRole {
  font-size: 1.6rem;
  font-weight: 300;
}

.card-box-socialMedias {
  padding: 2.4rem 0;
  gap: 1.2rem;
  width: 100%;
}
.card-box-socialMedias .socialMedias {
  width: 12%;
}

.card-box-introduction {
  align-items: flex-start;
  gap: 1.6rem;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 1.8rem;
}
.card-box-introduction .intro-title,
.card-box-introduction .intro {
  color: rgba(31, 31, 31, 0.6980392157);
  font-size: 1.2rem;
  font-weight: 500;
}
.card-box-introduction .intro {
  color: rgba(34, 34, 34, 0.9);
  margin-top: 9px;
}

.card-secondary-info {
  width: 30%;
  gap: 2.4rem;
  align-items: flex-start;
}

.title-box-info {
  font-weight: 500;
  font-size: 1.2rem;
  color: rgba(34, 34, 34, 0.9);
  margin-bottom: 1.6rem;
}

.innerBox-userExpertise {
  flex-wrap: wrap;
  gap: 7px;
}

.box-expert {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px #cecece;
  border-radius: 3rem;
  padding: 6px 1rem;
  color: rgba(73, 69, 79, 0.8);
  font-size: 1.4rem;
  font-weight: 400;
  gap: 5px;
}

.section-box-userYearAndRate {
  width: 100%;
}

.box-expertInfoNum {
  width: 100%;
  height: 5.3rem;
  justify-content: space-between;
  border: solid 1px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1.6rem;
}

.innerBox-subtitleAndIntro {
  padding: 1rem 1.3rem;
  padding-right: 0;
}

.subtitle-info {
  font-weight: 500;
  font-size: 1.2rem;
  color: rgba(34, 34, 34, 0.8980392157);
  margin-bottom: 3px;
}

.intor-subtitle {
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(73, 69, 79, 0.8);
}

.bg-icon {
  height: 100%;
  width: 21%;
  justify-content: center;
}

.bg-pink {
  background-color: #ffa78d;
}

.bg-yellow {
  background-color: rgba(255, 203, 0, 0.6980392157);
}/*# sourceMappingURL=profile.css.map */