/*
--- 01 TYPOGRAPHY SYSTEM
Defalut : rem = 10px; 62.5%
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font sizes (rem) / Anton Sc
h1	11.391rem / h2	7.594rem / h3	5.063rem /h4	3.375rem/ 2.25rem / 1.5rem/1rem
- Font sizes (rem) / Martian Mono
2.986rem / 2.488rem / 2.074rem / 1.728rem /1.44rem /1.2rem / 1rem / 0.833rem



- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #CCDDF4
- Tints:
#FFF4E6

- Shades: 

#1D00BE

- Accents:#9FCA56
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 15px
Medium: 20px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* Generals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #ccddf4;
}
a {
  text-decoration: none;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-header-menu {
  align-self: flex-end;
  justify-self: center;
  display: flex;
  gap: 1rem;
  padding: 1.6rem 9rem;
}
/* HEADER : CTA BTN & MENU */
.btn-cta:link,
.btn-cta:visited {
  text-decoration: none;
  display: inline-block;
  width: 29.4rem;
  height: 9.4rem;
  background-color: #9fca56;
  /* background-color: #44d62c; */
  color: #1d00be;
  font-size: 3.2rem;
  font-family: "Anton SC";
  border-radius: 2rem;
  text-align: center;
  line-height: 9.4rem;
}
menu {
  width: 9.4rem;
  height: 9.4rem;
  position: relative;
}
label {
  width: 100%;
  height: 100%;
  background-color: #1d00be;
  display: inline-block;
  border-radius: 2rem;
  /* displaying lines in flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
input:checked ~ label {
  background-color: #9fca56;
}
input:checked ~ label .line {
  background-color: #1d00be;
}
input {
  display: none;
}
.line {
  width: 5rem;
  height: 0.5rem;
  background-color: #fff;
  display: inline-block;
  transition: 0.3s;
}
input:checked ~ label .line:first-child {
  transform: translateY(1.7rem) rotate(45deg);
}
input:checked ~ label .line:nth-child(2) {
  transform: scale(0);
}
input:checked ~ label .line:last-child {
  transform: translateY(-1.7rem) rotate(-45deg);
}
ul,
li {
  list-style: none;
}
.menu-list-container {
  width: 15.4rem;
  height: 50rem;
  position: absolute;
  left: 0;
  top: -300px;
  /*for making an animation like dropping the list from above*/
  transition: top 60s ease;
  display: none;
}
.menu-list-box {
  width: 15.4rem;
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: space-around;
  background-color: #19019e;
  padding: 6px 9px;
  border-radius: 2rem;
}
.menu-list-item {
  width: 100%;
  position: relative;
}
.menu-list-item::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #9fca56;
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}
.menu-list-item:hover::after {
  width: 100%;
}
.menu-list-anchor {
  font-family: "Rubik";
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  color: #9fca56;
  white-space: nowrap;
}
/*clicking on the menu and the list will be shown*/
input:checked ~ .menu-list-container {
  display: block;
  top: 110%;
}
/* Hero section */
.hero {
  font-family: "Anton Sc", sans-serif;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: fit-content;
}

.hero-heading {
  width: fit-content;
  font-size: 12.8rem;
  letter-spacing: 2.56px;
  letter-spacing: -0.1rem;
}
.display-block {
  display: block;
}
.hero-title--white {
  position: relative;
  color: #fff;
  z-index: 2;
}
.hero-title--white::after {
  content: "";
  width: 120%;
  height: 100%;
  background-color: #1d00be;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.margin-left-sm {
  margin-left: 6rem;
}
.hero-subtitle {
  font-family: "Martian Mono", sans-serif;
  font-size: 3.2rem;
  margin-top: auto;
}
.subtitle--blue {
  color: #1d00be;
}
.bld {
  font-weight: 600;
}
/* SECTION: ABOUT ME */
main {
  position: relative;
  width: 100%;
  background-color: #fff4e6;
  border: solid 3px #1d00be;
  border-radius: 2rem 2rem 0 0;
}
.main-star--top {
  position: absolute; /* extrude star from the flex flow */
  top: 10rem;
  right: 10rem;
}
.main-star--bottom {
  position: absolute; /* extrude star from the flex flow */
  bottom: 0;
  left: 5rem;
}
.main-text-box {
  font-family: "Anton SC";
  padding-top: 15rem;
  padding-left: 34.5rem;
  position: relative;
  display: inline-block;
}
.main-heading {
  font-size: 7rem;
  letter-spacing: 3.5px;
}
.main-sub-heading {
  font-size: 8rem;
  color: #1d00be;
  position: absolute;
  right: -50%;
  bottom: -10%;
  letter-spacing: 4px;
}
.main-cards-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
  margin-bottom: 20rem; /* this will add more height to the main */
}
.card-maincontainer {
  position: relative;
  width: 31.1rem;
  height: 36.4rem;
}
.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  cursor: pointer;
}
.thecard:hover {
  transform: rotateY(180deg);
}
.card-thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card-style {
  border: solid 3px;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/*for more specifity between cards style i add their color in this part*/
/* front side of cards */
.card--lightblue .card-style {
  background-color: #ccddf4;
  color: #1d00be;
  border-color: #1d00be;
}
.card--white .card-style {
  background-color: #fff;
  border-color: #000;
}
.card--darkblue .card-style {
  background-color: #1d00be;
  color: #ccddf4;
  border-color: #ccddf4;
}
/* back side of cards */
.card--lightblue .back-card-style {
  background-color: #1d00be;
  color: #ccddf4;
  border-color: #ccddf4;
}
.card--white .back-card-style {
  background-color: #000;
  color: #fff;
  border-color: #fff; /*this is not working???*/
}
.card--darkblue .back-card-style {
  background-color: #ccddf4;
  color: #1d00be;
  border-color: #1d00be;
}
/* styling inside of cards : typography*/
.card-heading {
  font-family: "Anton SC";
  font-size: 3rem;
}
.card-description {
  font-family: "Rubik";
  font-size: 3rem;
}
.card-description span {
  display: block;
}
.star--stroke {
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 10s linear infinite;
}
.star--fill {
  -webkit-animation: reverse-rotate 10s linear infinite;
  animation: reverse-rotate 10s linear infinite;
  z-index: 2; /*it is above the card with this index*/
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes reverse-rotate {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
/* SECTION: RECENT PROJECT */
.section-recent-project {
  position: relative;
  background-color: #19019e;
  height: 120vh;
  display: flex;
  flex-direction: column;
}
.cloud-banner {
  height: 30%;
}
.cloud-svg {
  transform: translateY(10rem);
}
.star {
  position: absolute;
  top: 3.2rem;
  left: 50%;
  transform: translateX(-50%);
  animation: pulseStar 3s ease-in-out infinite;
}
@keyframes pulseStar {
  0% {
    transform: translateX(-50%) scale(1);
    filter: drop-shadow(0 0 0px #ccddf4);
    opacity: 0.9;
  }
  20% {
    transform: translateX(-50%) scale(1.25);
    filter: drop-shadow(0 0 15px #ccddf4);
    opacity: 1;
  }

  50% {
    transform: translateX(-50%) scale(0.98);
    filter: drop-shadow(0 0 15px #ccddf4);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scale(1);
    filter: drop-shadow(0 0 0px #ccddf4);
    opacity: 0.9;
  }
}
.recent-project-text-box {
  height: 70%;
  background-color: #fceedd;
}
.recent-project-text-box {
  z-index: 2;
  font-family: "Anton SC";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}
.text-box-heading {
  font-size: 15.8rem;
  color: #000;
}
.text-box-subheading {
  position: relative;
  font-size: 10.8rem;
  color: #fff;
  z-index: 2;
  margin-top: -4rem;
  animation: swing 8s ease-in-out infinite;
}
.text-box-subheading::before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #19019e;
  z-index: -1;
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*SECTION: PROJECTS-CARD*/
.section-projects-cards {
  height: 100vh;
  font-family: "Anton SC";
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.scroll-card-box {
  width: 80%;
  height: 70%;
  background-color: #fff;
  border: solid 3px #19019e;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 0.5fr 2fr 0.5fr;
  align-items: start;
  padding-left: 2rem;
}
.card-project-status {
  letter-spacing: 1px;
  align-self: center;
}
.status-completed--green {
  display: inline-block;
  color: #ffffffe3;
  font-size: 3rem;
  background-color: #019e45;
  border-radius: 5px;
  padding: 3px 6px;
}
.card-project-img {
  width: 90%;
  height: 70%;
  background-color: transparent;
  border-radius: 2rem;
  grid-column: 2;
  grid-row: 1/-1;
  justify-self: center;
  align-self: center;
}
.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-name {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: -0.2px;
  font-family: "Rubik";
  color: #4734b1;
}
.project-summery {
  font-size: 2rem;
  letter-spacing: -0.5px;
  font-family: "Rubik";
  color: #4734b1;
  line-height: 1.5;
}
.card-project-tools {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.tag-tools-box {
  padding: 3px 6px;
  border-radius: 3px;
  font-family: "Rubik";
  font-size: 1rem;
}
.tools-htmlcss {
  background-color: #ccddf4;
}
.tools-js {
  background-color: #e6cd69;
}
.btn-projects:link,
.btn-projects:visited {
  color: #fff;
  width: 80%;
  height: 15%;
  background-color: #19019e;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}
/*SECTION : CONTACTS*/
.section-contacts {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.contacts-box {
  width: 80%;
  height: 30%;
  background-color: #fff;
  border: solid 3px #000;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 20rem;
}
.logo-name {
  font-family: "Anton SC";
  font-size: 6rem;
  padding: 1rem 2rem;
  border-right: solid 3px #000;
  display: inline-block;
  height: 100%;
  align-self: flex-start;
}
.larger {
  font-size: 7rem;
  color: #9fca56;
}
.contacts-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem 2rem;
}
.contact {
  font-family: "Anton SC";
  font-size: 3rem;
  color: #000;
}
.gmail {
  grid-column: 1;
  grid-row: 2;
}
.gmail-address {
  grid-column: 2;
  grid-row: 2;
  cursor: text;
}
.tel {
  grid-column: 1;
  grid-row: 3;
}
.tel-number {
  grid-column: 2;
  grid-row: 3;
  cursor: text;
}
.contacts-scroll-box {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #19019e;
  overflow: hidden;
}
.scrolle-inner {
  background-color: #19019e;
  color: #fff;
  display: flex;
  gap: 20rem;
  animation: scroll 20s infinite linear;
}
.scroll-box-message {
  font-family: "Anton SC";
  font-size: 12.5rem;
  line-height: 12rem;
  white-space: nowrap;
}
@keyframes scroll {
  to {
    transform: translateX(calc(-100% - 20rem));
  }
}
