/*
--- 01 TYPOGRAPHY SYSTEM
Defalut : rem = 10px; 62.5%
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font sizes (rem) / Anton Sc
h1	11.391rem / h2	7.594rem / h3	5.063rem /h4	3.375rem/ 2.25rem / 1.5rem/1rem
- Font sizes (rem) / Martian Mono
2.986rem / 2.488rem / 2.074rem / 1.728rem /1.44rem /1.2rem / 1rem / 0.833rem



- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #CCDDF4
- Tints:
#FFF4E6

- Shades: 

#1D00BE

- Accents:#9FCA56
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 15px
Medium: 20px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
/* Generals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #ccddf4;
}
a {
  text-decoration: none;
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-header-menu {
  align-self: flex-end;
  justify-self: center;
  display: flex;
  gap: 1rem;
  padding: 1.6rem 9rem;
}
/* HEADER : CTA BTN & MENU */
.btn-cta:link,
.btn-cta:visited {
  text-decoration: none;
  display: inline-block;
  width: 29.4rem;
  height: 9.4rem;
  background-color: #9fca56;
  color: #1d00be;
  font-size: 3.2rem;
  font-family: "Anton SC";
  border-radius: 2rem;
  text-align: center;
  line-height: 9.4rem;
}
menu {
  width: 9.4rem;
  height: 9.4rem;
}
label {
  width: 100%;
  height: 100%;
  background-color: #1d00be;
  display: inline-block;
  border-radius: 2rem;
  /* displaying lines in flex */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
input:checked ~ label {
  background-color: #9fca56;
}
input:checked ~ label .line {
  background-color: #1d00be;
}
input {
  display: none;
}
.line {
  width: 5rem;
  height: 0.5rem;
  background-color: #fff;
  display: inline-block;
}
input:checked ~ label .line:first-child {
  transform: translateY(1.7rem) rotate(45deg);
}
input:checked ~ label .line:nth-child(2) {
  transform: scale(0);
}
input:checked ~ label .line:last-child {
  transform: translateY(-1.7rem) rotate(-45deg);
}
/* Hero section */
.hero {
  font-family: "Anton Sc", sans-serif;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: fit-content;
}

.hero-heading {
  width: fit-content;
  font-size: 12.8rem;
  letter-spacing: 2.56px;
  letter-spacing: -0.1rem;
}
.display-block {
  display: block;
}
.hero-title--white {
  position: relative;
  color: #fff;
  z-index: 2;
}
.hero-title--white::after {
  content: "";
  width: 120%;
  height: 100%;
  background-color: #1d00be;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.margin-left-sm {
  margin-left: 6rem;
}
.hero-subtitle {
  font-family: "Martian Mono", sans-serif;
  font-size: 3.2rem;
  margin-top: auto;
}
.subtitle--blue {
  color: #1d00be;
}
.bld {
  font-weight: 600;
}
/* SECTION: ABOUT ME */
main {
  position: relative;
  width: 100%;
  background-color: #fff4e6;
  border: solid 3px #1d00be;
  border-radius: 2rem 2rem 0 0;
}
.main-star--top {
  position: absolute; /* extrude star from the flex flow */
  top: 5rem;
  right: 5rem;
}
.main-star--bottom {
  position: absolute; /* extrude star from the flex flow */
  bottom: 0;
  left: 5rem;
}
.main-text-box {
  font-family: "Anton SC";
  padding-top: 15rem;
  padding-left: 34.5rem;
  position: relative;
  display: inline-block;
}
.main-heading {
  font-size: 7rem;
  letter-spacing: 3.5px;
}
.main-sub-heading {
  font-size: 8rem;
  color: #1d00be;
  position: absolute;
  right: -50%;
  bottom: -10%;
  letter-spacing: 4px;
}
.main-cards-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
  margin-bottom: 20rem; /* this will add more height to the main */
}
.card-maincontainer {
  position: relative;
  width: 31.1rem;
  height: 36.4rem;
}
.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
}
.thecard:hover {
  transform: rotateY(180deg);
}
.card-thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card-theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card-style {
  border: solid 3px;
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
/*for more specifity between cards style i add their color in this part*/
/* front side of cards */
.card--lightblue .card-style {
  background-color: #ccddf4;
  color: #1d00be;
  border-color: #1d00be;
}
.card--white .card-style {
  background-color: #fff;
  border-color: #000;
}
.card--darkblue .card-style {
  background-color: #1d00be;
  color: #ccddf4;
  border-color: #ccddf4;
}
/* back side of cards */
.card--lightblue .back-card-style {
  background-color: #1d00be;
  color: #ccddf4;
  border-color: #ccddf4;
}
.card--white .back-card-style {
  background-color: #000;
  color: #fff;
  border-color: #fff; /*this is not working???*/
}
.card--darkblue .back-card-style {
  background-color: #ccddf4;
  color: #1d00be;
  border-color: #1d00be;
}
/* styling inside of cards : typography*/
.card-heading {
  font-family: "Anton SC";
  font-size: 2.4rem;
}
.card-description {
  font-family: "Martian Mono";
  font-size: 2.4rem;
}
.card-description span {
  display: block;
}
.star--stroke {
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 10s linear infinite;
}
.star--fill {
  -webkit-animation: reverse-rotate 10s linear infinite;
  animation: reverse-rotate 10s linear infinite;
  z-index: 2; /*it is above the card with this index*/
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes reverse-rotate {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
/* SECTION: RECENT PROJECT */
.section-recent-project {
  position: relative;
  background-color: #19019e;
  height: 120vh;
  display: flex;
  flex-direction: column;
}
.cloud-banner {
  height: 30%;
}
.cloud-svg {
  transform: translateY(10rem);
}
.star {
  position: absolute;
  top: 3.2rem;
  left: 50%;
  transform: translateX(-50%);
  animation: pulseStar 3s ease-in-out infinite;
}
@keyframes pulseStar {
  0% {
    transform: translateX(-50%) scale(1);
    filter: drop-shadow(0 0 0px #ccddf4);
    opacity: 0.9;
  }
  20% {
    transform: translateX(-50%) scale(1.25);
    filter: drop-shadow(0 0 15px #ccddf4);
    opacity: 1;
  }

  50% {
    transform: translateX(-50%) scale(0.98);
    filter: drop-shadow(0 0 15px #ccddf4);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) scale(1);
    filter: drop-shadow(0 0 0px #ccddf4);
    opacity: 0.9;
  }
}
.recent-project-text-box {
  height: 70%;
  background-color: #fceedd;
}
.recent-project-text-box {
  z-index: 2;
  font-family: "Anton SC";
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}
.text-box-heading {
  font-size: 15.8rem;
  color: #000;
}
.text-box-subheading {
  position: relative;
  font-size: 10.8rem;
  color: #fff;
  z-index: 2;
  margin-top: -4rem;
  animation: swing 2s ease-in-out;
  animation-iteration-count: 2;
}
.text-box-subheading::before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #19019e;
  z-index: -1;
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.section-projects-cards {
  height: 100vh;
  background-color: #19019e;
}
