.shape {
  width: 400px;
  height: 400px;
  background-color: #77cce9;
  margin: 200px auto;
}
/* .circle {
  clip-path: circle(50%);
} */
.elipse {
  /* clip-path : elipse(rx ry at cx cy); */
  /* clip-path: ellipse(80px 50px at 50% 50%); */
}
.inset {
  /* clip-path: inset(top right bottom left round(border-radius)); */
  /* clip-path: inset(20px 30px 40px 10px round 50px); */
}
.polygon {
  /* clip-path: polygon(x1 y1, x2 y2,x3 y3,...); */
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
} */
