* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/*************/
/* GENERALLS */
.flex-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-gap {
  gap: 1rem;
}
/*************/
body {
  width: 100%;
  height: 100vh;
  font-family: 'Cal Sans', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to top right, #000 0%, #fff 100%);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
main {
  width: 70%;
  height: 80%;
  /* padding: 2.4rem 3.2rem; */
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 0 6rem 3rem rgba(0, 0, 0, 0.3);
}
.box-player {
  width: 100%;
  height: 100%;
}
.section-player-colored {
  background: linear-gradient(to top right, #888 0%, #fff 100%);
}
.inner-box-player,
.inner-container-btns {
  height: 100%;
} /*SOLVED: the problem-> it was not vertically aligned so instead of 80% it is changed to 100%*/
.inner-box-player.flex-gap {
  gap: 8rem;
} /*restarting from general flex gap*/
h2 {
  font-size: 6.4rem;
  letter-spacing: 0.2rem;
}
.sum-of-scores {
  font-size: 5.4rem;
  font-weight: 600;
}
.box-current-scores {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
.current-scores {
  font-size: 3rem;
}
.box-current-scores {
  border: solid 0.2rem #000;
  border-radius: 5px;
  padding: 1.6rem 6.4rem;
}
.container-btns {
  width: fit-content;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.flex-restart-justify {
  justify-content: space-around;
}
.btn {
  width: fit-content;
  height: 5rem;
  border: none;
  padding: 1rem 1.6rem;
  border-radius: 0.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  background-color: #33333394;
  color: #fff;
  box-shadow: 0 1rem 6rem rgba(0, 0, 0, 0.6);
}
.btn-new-game {
  background-color: rgba(255, 0, 0, 0.49);
}
.dice-img {
  height: 20%;
  border: solid 0.2rem #000;
  border-radius: 0.5rem;
}
@media (max-width: 1229px) {
  html {
    font-size: 46.2%;
  }
  /* .player-1 {
    padding-right: 20rem;
  }
  .player-2 {
    padding-left: 20rem;
  } */
}
@media (max-width: 898px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 34.36%;
  }
  main {
    overflow: visible;
  }
  .container-btns {
    top: auto; /*removeing it from the main code to set the bottom */
    bottom: -4rem;
    width: 100%;
    height: fit-content;
    z-index: 10;
  }
  .inner-container-btns,
  .inner-container-btns div {
    flex-direction: row;
    gap: 1rem;
  }
  .btn {
    height: 10rem;
    font-weight: 800;
  }
  .btn-new-game {
    background-color: rgba(255, 0, 0, 0.49);
  }
}
