* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/*************/
/* GENERALLS */
.flex-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-gap {
  gap: 1rem;
}
/*************/
body {
  width: 100%;
  height: 100vh;
  font-family: 'Cal Sans', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to top right, #000 0%, #fff 100%);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
main {
  width: 60%;
  height: 80%;
  /* padding: 2.4rem 3.2rem; */
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 0 6rem 3rem rgba(0, 0, 0, 0.3);
}
.box-player {
  width: 100%;
  height: 100%;
}
.section-player-colored {
  background: linear-gradient(to top right, #888 0%, #fff 100%);
}
.inner-box-player {
  height: 80%;
}
.inner-box-player.flex-gap {
  gap: 8rem;
} /*restarting from general flex gap*/
h2 {
  font-size: 4.4rem;
  letter-spacing: 0.2rem;
}
.sum-of-scores {
  font-size: 5.4rem;
  font-weight: 600;
}
.box-current-scores {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
.current-scores {
  font-size: 3rem;
}
.box-current-scores {
  border: solid 0.2rem #000;
  border-radius: 5px;
  padding: 1.6rem 6.4rem;
}
.container-btns {
  width: fit-content;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* padding-top: 3rem;
  padding-bottom: 1rem; */
}
.btn {
  border: none;
  padding: 1rem 1.6rem;
  border-radius: 0.5rem;
  font-size: 2.4rem;
  font-weight: 400;
  background-color: #33333394;
  color: #fff;
}
/* .btn-new-game {
  margin-top: 1.5rem;
} */
/* .btn-roll-dice {
  margin-top: auto;
} */
