/* SYSTEMS  */
/* COLORS
color1: #ffe066; 
color2: #2b8a3e;
color2*:#044430
color3: #8ce99a;
color4: #0ca678;
color4: #212529;
color5: #343a40;
color6: #868e96;
color7: #495057;
color8: #f8f9fa;
color9: #dee2e6;
color10:#ebfbee;
*/
/* UNIVERSAL STYLE */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  letter-spacing: 0.055rem;
  color: #212529;
}
ul,
li {
  list-style-type: none;
}
body {
  font-family: "Lato", sans-serif;
}
/* REPEATED STYLE */
/* BUTTONS */
.cta-btn {
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
  transition: 500ms;
  font-weight: 600;
}
.btn--yellow {
  background-color: #ffe066;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
/* HEADER */
/* HEADER:TOP BLACK HEADER */
.top-header-black {
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 56px;
  padding-right: 56px;
  font-weight: 600;
}
/* HEADER ICONS */
.icon-header {
  width: 20px;
  height: 20px;
}

.icon-header svg {
  fill: #f8f9fa;
  width: 20px;
  height: 20px;
}
.top-left_flex {
  display: flex;
  gap: 2rem;
}
/* for aligning icon with text(span) */
.box-header {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #f8f9fa; /* Default color added */
}

.top-right_flex {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.box-uplode-cv {
  margin-right: 1rem;
}
/* SETTING BACKGROUND FOR SOCAIL ICONS */
.box-social-icon:link,
.box-social-icon:visited {
  width: 25px;
  height: 25px;
  background-color: #343a40;
  border-radius: 2.5px;
  position: relative;
  transition: 500ms;
}
.social-icon {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
}
/* HEADER:TOP BLACK HEADER : HOVERING*/
.box-header:hover {
  color: #dee2e6;
}
.box-header:hover svg {
  fill: #dee2e6;
}
.box-social-icon:hover {
  background-color: #2b8a3e;
}
.box-social-icon::after {
  content: attr(data-name);
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  background-color: #212529;
  color: #f8f9fa;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  transition: 500ms;
  border-radius: 5px;
  opacity: 0;
}
.box-social-icon:hover::after {
  opacity: 1;
}
/* HEADER:BOTTOM WHITE HEADER */
.bot-header-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 56px;
  padding-right: 56px;
}
/* LEFT */
.box-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.box-logo img {
  width: 60px;
  height: 60px;
}
.box-logo span {
  display: block;
  letter-spacing: 0.55px;
  margin-bottom: 0.1rem;
  font-size: 20px;
}
.bold {
  font-weight: 800;
}
/* RIGHT */
.menubar-box-display-flex--header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  transition: 500ms;
}
.menubar-box-display-flex--header-right a:link,
.menubar-box-display-flex--header-right a:visited {
  color: #212529;
  font-weight: 600;
}
.menubar li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.menubar li a svg {
  stroke: #212529;
}

/* HAM MENU */
.menu-hamburger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu-hamburger span {
  background-color: #212529;
  border-radius: 5px;
  height: 3.5px;
  margin-bottom: 6px;
}
.line-one {
  width: 35px;
}
.line-two {
  width: 25px;
}
/* HEADER:BOTTOM RIGHT HEADER : HOVERING*/
.underline {
  position: relative;
}
.underline::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #044430;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.3s ease-out;
}
.underline:hover::after {
  width: 100%;
}
.btn--yellow:hover {
  background-color: #2b8a3e;
}
/* MAIN */
main {
  padding-left: 56px;
  padding-right: 56px;
}
/* BANNER */
.banner-main {
  width: 93vw;
  height: 650px;
  background-image: linear-gradient(
      to right,
      rgba(10, 58, 19, 0.7),
      rgba(43, 138, 62, 0.2)
    ),
    url(./Assets/images/banner.jpg);
  background-size: cover;
  background-position: right;
  margin: 24px auto;
  border-radius: 12px;
  position: relative;
}
.box-text-banner {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);

  text-transform: capitalize;
  color: #dee2e6;
}
.box-text-banner p {
  font-size: 18px;
  word-spacing: 0.1rem;
  font-weight: 500;
}
.box-text-banner h1 {
  letter-spacing: 0.09rem;
  font-size: 60px;
  /* line-height: 1.2; */
  display: block;
}
.box-text-banner h1 span {
  display: block;
}
.box-text-banner div {
  display: flex;
  gap: 32px;
  margin-top: 30px;
}
.btn--green {
  background-color: #8ce99a;
}
/*  BANNER: HOVERING*/
.button-learnmore:hover {
  background-color: #0ca678;
}
.btn--green:hover {
  background-color: #f8f9fa;
}

/* TEXT CONTAINER SLAOGAN */
.slogan-container {
  text-transform: capitalize;
  border-bottom: 2px solid #dee2e6;
  padding-bottom: 60px;
  margin-bottom: 36px; /*change when gid layout apply*/
}
.slogan-container p {
  margin-bottom: 24px;
  font-size: 18px;
}
.slogan-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
.slogan-container div h2 {
  width: 60%;
}
.slogan-container div i {
  justify-self: flex-end;
  align-self: center;
}
.arrow-down {
  transform: rotate(-30deg);
  width: 100px;
  height: 100px;
  stroke: #dee2e6;
  transition: 500ms;
}
.text-highlight {
  background: linear-gradient(to top, #ffe06695 10%, transparent 50%);
  display: inline;
}
/* TEXT CONTAINER SLAOGAN : HOVERING */
.arrow-down:hover {
  stroke: #212529;
  transform: rotate(30deg);
}
/*STATICS CONTAINER*/
.statics-container {
  display: flex;
  gap: 72px;
  position: relative;
  margin-bottom: 36px; /*change when gid layout apply*/
}
.statics-container img {
  width: 600px;
  height: 700px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}
.statics-container .text-container {
  padding-right: 170px;
  height: fit-content;
  margin-bottom: 36px;
}
.main-text {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.12rem;
  line-height: 1.5;
}
.sub-text {
  color: #868e96;
  font-size: 18px;
  line-height: 1.5;
}
.btn-statics {
  width: max-content;
  margin-top: 24px;
}
.diagram-container {
  margin-right: 170px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.diagram-box {
  width: 280px;
  height: 310px;
  background-color: #b2f2bb;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  padding-left: 32px;
}
.box--purple {
  background-color: #f3d9fa;
  margin-right: 16px;
}
.box--green {
  margin-right: 180px;
}
.diagram-box .icon {
  width: 72px;
  height: 72px;
  fill: #495057;
}
.diagram-box p {
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #495057;
}
/*Specifying the middle text that is bold*/
.diagram-box p.bold {
  font-size: 72px;
}
/*BOX CAREER PRIORITY*/
.box-career-priority {
  width: 1400px;
  background-color: #0d2b13;
  color: #ebfbee;
  padding: 40px 40px 110px 40px;
  border-radius: 20px;
  border-top-left-radius: 0;

  margin: 150px auto;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.box-career-priority::before {
  content: "";
  position: absolute;
  left: 0;
  top: -57px;
  border-radius: 20px 20px 0 0;
  width: 65%;
  height: 60px;
  background-color: #0d2b13;
}
.box-career-priority::after {
  content: "";
  position: absolute;
  top: -59px;
  left: 62%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 10px;
  transform: rotate(-30deg);
  width: 70px;
  height: 90px;
  background-color: #0d2b13;
}
.text-highlight--lighter {
  background: linear-gradient(to top, #ffe06642 40%, transparent 20%);
  display: inline;
}
.box-career-priority a {
  color: #ebfbee;
}
.title-career-priority {
  color: #b2f2bb;
  font-size: 20px;
  text-transform: capitalize;
}
.subtitle-career-priority {
  text-transform: capitalize;
  font-size: 42px;
  text-align: center;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 24px;
}
.line-breaker {
  display: block;
}
.list-career-priority {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 16px;
  justify-items: center;

  margin-bottom: 60px;
}

.list-career-priority li {
  border: 2px solid #2e4533;
  border-radius: 40px;
  padding: 18px 55px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.two-flex-row {
  display: flex;
  flex-direction: row;
  grid-column: 1/-1;
  gap: 16px;
}
/*CAREER PRIRITY BOX:HOVER */
.list-career-priority li:hover {
  border-color: #2b8a3e;
}
/* CUSTOMORS-PICTURES */
.customer-pics {
  display: flex;
  margin-bottom: 16px;
}
.pics--circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: #2b8a3e;
  margin-left: -32px;
}
.circle--left {
  background: url(./Assets/images/uifaces/face2.jpg);
  background-size: cover;
}
.circle--center {
  background: url(./Assets/images/uifaces/face1.jpg);
  background-size: cover;
}
.circle--right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #748ffc;
  font-weight: 800;
}
.paragraph-customer-pics {
  font-size: 18px;
  font-weight: 600;
  word-spacing: 2px;
}
/* FEATYRE ROWS: TYPE OF CARIER */
.feature-rows {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.feature-rows div::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #495057;
}
.feature-img {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  size: cover;
}
