* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #333;
  font-family: "Poppins", sans-serif;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 1rem auto 0;
  border-radius: 2rem;
  padding: 4rem 3.5rem;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  color: #555;
  padding: 1rem 2.5rem;
  height: 6rem;
  border-radius: 3rem;
  flex-grow: 1;
  font-size: 1.8rem;
}
.search input::placeholder {
  color: #888;
}
.search button {
  border: 0;
  outline: 0;
  background-color: #ebfffc;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}
.search button img {
  width: 50%;
}
.weather-icon {
  width: 50%;
  max-width: 17rem;
  margin-top: 3rem;
}
.primary-heading.temp {
  font-size: 8rem;
  font-weight: 500;
}
.secondary-heading.city {
  font-size: 4.5rem;
  font-weight: 500;
  margin-top: -1.5rem;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  margin-top: 5rem;
}
.detial-col {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
}
.detial-col img {
  max-width: 4rem;
}
.detail-rate {
  font-size: 2.8rem;
  margin-top: -0.6rem;
}
