/*
COLORS: 
- main #28b487
- secodary #7dd56f
- accent #333
*/
/************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  height: 100vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
  color: #333;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-top: 6rem;
}
/* main {
  width: 100%;
} */
.modal {
  width: 60%;
  height: 80vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
} /*after decoration it would become .show-modal as a class to add via js*/
.close-modal {
  margin-left: auto;
}
