/***************/
/* GENERALS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Mona Sans", serif;
  font-weight: 400;
  line-height: 1;
  background-color: #f9f5f2;
}
.container {
  padding: 6.4rem 3.2rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.grid {
  display: grid;
}
.gird-2--coloumns {
  grid-template-columns: 1fr 1fr;
}
/***************/
/***************/
/* HEADER SECTION */
header {
  height: 20vh;
  display: flex;
  align-items: center;
  gap: 28%;
  text-transform: uppercase;
}
.header-text-logo {
  font-size: 2.4rem;
  font-weight: 200;
}
.header-text-job {
  font-size: 1.6rem;
  flex-wrap: wrap;
}
/*********************/
/* NAVIGATION DESKTIP*/
/*********************/
.navigation-box-desktop {
  align-self: baseline;
  margin-top: -1rem;
}
.navigation-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  font-size: 1.6rem;
}
.navigation-list-item,
.menu-list-item {
  color: #000;
  position: relative;
  /* transition: text-decoration 0.3s ease; */
}
.navigation-list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0.1rem;
  background-color: #000;
  transition: 0.5s;
}
.navigation-list-item:hover::before {
  width: 100%;
}

.navigation-list-item::after {
  content: attr(data-number);
  font-size: 0.8rem;
  border: 0.1rem solid #000;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  top: -0.5rem;
  right: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-zero {
  text-decoration: line-through rgb(255, 0, 0);
} /*current page*/
.list-item-zero::after {
  content: "0";
}
.list-item-one::after {
  content: "1";
}
.list-item-two::after {
  content: "2";
}
.list-item-three::after {
  content: "3";
}
/***************/
/***************/
/* MENU MOBILE */
#input-navigation {
  display: none;
}
.menu-icon {
  cursor: pointer;
  font-size: 2.2rem;
  display: inline-block;
}
.menu-icon .close-text {
  display: none;
}
#input-navigation:checked + .menu-icon .open-text {
  display: none;
}
#input-navigation:checked + .menu-icon .close-text {
  display: block;
}
.menu-box-list {
  display: none;
}
#input-navigation:checked ~ .menu-box-list {
  display: block;
}
#input-navigation:checked + body {
  background-color: #000;
}
.menu-list-item {
  font-size: 5rem;
}
.menu-list-item:active {
  color: #888;
}
/***************/
/***************/
/* HEADER SECTION */
main {
  overflow: hidden;
  height: 80vh;
}
.section-hero {
  max-width: 80%;
  max-height: 80vh;
}
.hero-text-current-status {
  font-size: 2.4rem;
  font-weight: 300;
  justify-self: end;
  align-self: start;
  max-width: 90%;
  transform: translateX(36rem);
}
.hero-text-job {
  font-size: 30rem;
  cursor: pointer;
}
.frontend-position {
  transform: translateX(30%);
}
.developer-position {
  grid-column: 1/-1;
}
.hero-text-job span {
  font-weight: 900;
  transition: font-weight 2s ease-out;
}
.hero-text-job span:hover {
  font-weight: 100;
}
/***************/
/***************/
/* HEADER SECTION */
/***************/
